<nav class="navbar navbar-expand-lg sticky-top border-bottom  shadow-sm">
	<div class="container-fluid">
	  <!-- Logo -->
	  <a class="navbar-brand me-2" href="/">
		<i class="fa-solid fa-star-half-stroke" style="font-size: 3rem; margin-right: 0px; padding-right: 0px"></i>
	  </a>
  
	  <!-- Mobile Search -->
	  <form class="d-lg-none d-flex align-items-center mt-2 me-2" role="search" action="/" method="GET">
		<div class="input-group">
		  <input
			class="form-control border-1 shadow-sm"
			type="search"
			placeholder="Search blogs"
			name="q"
			style="min-width: 80px; max-width: 180px; border-radius: 30px 0 0 30px; border-color: #004466 !important;"
		  />
		  <button 
			class="btn btn-outline-secondary px-3"
			type="submit"
			style="border-radius: 0 30px 30px 0; background-color: #004466; border-color: white;">
			<i class="bi bi-search"></i>
		  </button>
		</div>
	  </form>
  
	  <!-- Navbar toggler for mobile -->
	  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
		<span class="navbar-toggler-icon"></span>
	  </button>
  
	  <!-- Offcanvas menu -->
	  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		<div class="offcanvas-header">
		  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
  
		<div class="offcanvas-body d-flex flex-column flex-lg-row align-items-lg-center w-100">
		  <!-- Left Nav -->
		  <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0">
			<li class="nav-item">
			  <a class="nav-link" href="/"><i class="fa-solid fa-house me-1"></i>Home</a>
			</li>
		  <li class="navbar-item dropdown">
				<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"> Categories 
				</a>
				<div class="dropdown-menu">
					<a href="/" class="btn btn-sm btn-outline-primary rounded-pill category-scroller-btn dropdown-item ">All</a>
					<a href="/?category=Action" class="btn btn-sm btn-outline-secondary rounded-pill category-scroller-btn dropdown-item ">Action</a>
					<a href="/?category=Sci-Fi" class="btn btn-sm btn-outline-success rounded-pill category-scroller-btn dropdown-item ">Sci-Fi</a>
					<a href="/?category=Animation" class="btn btn-sm btn-outline-warning rounded-pill category-scroller-btn dropdown-item ">Animation</a>
					<a href="/?category=Fantasy" class="btn btn-sm btn-outline-danger rounded-pill category-scroller-btn category-10th-btn dropdown-item " >Fantasy</a>
					<a href="/?category=Drama" class="btn btn-sm btn-outline-dark rounded-pill category-scroller-btn dropdown-item ">Drama</a>
					<a href="/?category=Crime" class="btn btn-sm btn-outline-info rounded-pill category-scroller-btn dropdown-item ">Crime</a>
				 </div>
			</li>

		</ul>



  
		  <!-- Desktop Search -->
		  <form class="d-none d-lg-flex me-lg-3" role="search" action="/" method="GET">
			<div class="input-group">
			  <input
				class="form-control border-1 shadow-sm"
				type="search"
				placeholder="Search blogs..."
				name="q"
				style="min-width: 180px; max-width: 280px; border-radius: 30px 0 0 30px; border-color: #004466 !important;"
			  />
			  <button 
				class="btn btn-outline-secondary px-3"
				type="submit"
				style="border-radius: 0 30px 30px 0; background-color: #004466; border-color: white;">
				<i class="bi bi-search"></i>
			  </button>
			</div>
		  </form>


  
		  <!-- Right Nav -->
		  <ul class="navbar-nav">

			<% if(!currUser) { %>


		  	<div class="navbar-nav ">
				<a class="nav-link" href="/signup"> Signup</a>
			</div>
			<div class="navbar-nav ">
				<a class="nav-link" href="/login"> Login</a>
			</div>
			<% } %>

			<% if(currUser) { %>
		  	<div class="navbar-nav ">
				<a href="/yourmovies" class="nav-link">Your Movies</a>
		  	</div>
			<% } %>


			<li class="nav-item">
			  <a class="nav-link" href="/about">About</a>
			</li>

			<% if(currUser) { %>
		  	<div class="navbar-nav ">
				<a href="/logout" class="nav-link logout-btn">Logout</a>
		  	</div>
			<% } %>

		  </ul>
		</div>
	  </div>
	</div>
  </nav>
  