*::selection {
	color: #666 !important;
	background: linear-gradient(120deg, #ff6600, #ff9900) !important;
	padding: 2px;
	border-radius: 4px;
	text-shadow: 1px 1px 2px #004466;
  }
  
  *::-moz-selection {
	color: #fff !important;
	background: linear-gradient(120deg, #ff6600, #ff9900) !important;
	padding: 2px;
	border-radius: 4px;
	text-shadow: 1px 1px 2px #00000066;
  }
  
  body{
	  background-color: #fff !important;
	   font-family: "Plus Jakarta Sans", serif !important;
	   display: flex;
	   flex-direction: column;
	   min-height: 100vh !important;
	   color: #222 !important;
  }
  input{
	border: 2px solid #666 !important;
  }
  .container{
	  flex: 1;
  }
  
  .navbar{
	  height: 5rem;
	  background-color: #78b4d2 !important;
  }
  .fa-star-half-stroke{ 
	  color: #004466;
	  background-color: #78b4d2 !important;
	  font-size: 2rem;
  }
  .nav-link{
	  color: #004466 !important;
	margin: 5px;
	width: fit-content;
	  transition-duration: 0.8s !important;
	  padding: 3px 10px 3px 10px !important;
	border-radius: 2rem !important;
	border: 2px solid #78b4d2 !important;
  }
  .nav-link:hover {
	border: 2px solid #fff !important;
	color: #004466 !important;
	background-color: #eef8fa !important;
	border-radius: 1.5rem !important;
	box-shadow: 
	  0 4px 6px rgba(125, 172, 229, 0.8),    /* gold shadow */
	  inset 0 1px 2px rgba(255, 255, 255, 0.6), /* subtle inner white glow */
	  0 2px 4px rgba(0, 0, 0, 0.05) !important;       /* light outer depth */
	transition: all 0.3s ease !important;
  }
  
  .logout-btn{
	color: rgb(96, 48, 48) !important;
	  transition-duration: 0.8s !important;
	  padding: 3px 10px 3px 10px !important;
	border-radius: 2rem;
	border: 2px solid #78b4d2 !important;
  }
  .logout-btn:hover{
	border: 2px solid #acc8d6 !important;
	color: #ff6600 !important;
	background-color: rgb(96, 48, 48);
	  border-radius: 2rem;
  }
  .navbar-brand:hover{
	border: none !important;
	box-shadow: none !important;
  }
  .navbar-toggler {
	background-color: #fff !important; /* Your custom color */
	border-radius: 5px;
  }
  .custom-dropdown-bg {
	background-color: #004466 !important; /* Replace with your own color */
	padding: 1rem;
	border-radius: 0 0 10px 10px; /* optional: rounded corners */
  }
  
  .offcanvas-body{
	background-color: #78b4d2 !important;
  }
  #offcanvasNavbar{
	color: #eef8fa !important;
  }
  #nav-close-button{
	background-color: #eef8fa !important;
	color: #eef8fa !important;
  }
  .dropdown-menu{
	background-color: rgba(120, 180, 210, 0.8)
 !important;
	width: fit-content !important;
	
  }
  .dropdown-item{
	color: #004466 !important;
	margin: 5px;
	width: fit-content !important;
	  transition-duration: 0.8s !important;
	  padding: 3px 10px 3px 10px !important;
	border-radius: 2rem;
	border: 2px solid transparent !important;
  }
  .dropdown-item:hover{
	border: 2px solid #fff !important;
	color: #004466 !important;
	background-color: #eef8fa;
	border-radius: 1.5rem;
	box-shadow: 
	  0 4px 6px rgba(125, 172, 229, 0.8),    /* gold shadow */
	  inset 0 1px 2px rgba(255, 255, 255, 0.6), /* subtle inner white glow */
	  0 2px 4px rgba(0, 0, 0, 0.05);       /* light outer depth */
	transition: all 0.3s ease;
  }
  .m-search-form{
	display: flex !important;
  align-items: center;
  max-width: 220px;
  flex-grow: 1;

  }
  
  /* Footer */
  footer{
	color: #004466 !important;
	background-color: #78b4d2 !important;
  }
  .f-info-links a {
	  text-decoration: none;
	  vertical-align: middle;
  }
  
  .f-info-links a:hover {
	  text-decoration: underline;
	  color: #2c6ab8;
  }
  
  .f-info-links, .f-info-socials, .f-info-brand {
	  width: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  .f-info-socials i {
	  font-size: 1.2rem;
	  color: #4a90e2;
	  margin-right: 1rem;
  }
  
  .f-info {
	  text-align: center;
	  height: 5rem;
	  background-color: #78b4d2;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: space-evenly;
  }
  
  .offcanvas {
	  background-color: #78b4d2 !important;
  }
  
  .copyright {
	  color: #fff !important;
  }
  
  
  /* smaller devices */
  @media (max-width: 576px) {
	.account-manage-section {
	margin-top: 40px;
  }
  .offcanvas {
	width: 240px !important;
  }
  .caption-title {
	font-size: 1rem;
	margin-bottom: 0.5rem;
  }
  
  .caption-text {
	font-size: 0.6rem;
	line-height: 1;
  
  }
  }
  
  /* Medium devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
	.offcanvas {
	  width: 300px !important;
	}
	
  }
  
  /* Larger devices (desktops) */
  @media (min-width: 769px) {
	
  }
  
  